<script>

if ( window.history.replaceState ) {
	window.history.replaceState(null, null, window.location.href);
}

</script>

<form action="{{ url_for('task') }}" method="post">
	{% if message is defined and message %}
		<div class="alert alert-warning">{{ message }}</div>
	{% endif %}
	<div class="form-group">
		<label for="title">Title:</label>
		<input type="title" class="form-control" id="title" name="title" placeholder="Enter task title" value={{form.title}}>
	</div>
	<div class="form-group">
		<label for="description">Description:</label>
		<input type="description" class="form-control" id="description" name="description" placeholder="Enter task desctiprion" value={{form.description}}>
	</div>      
	<div class="form-group">
		<label for="due-date">Due Date:</label>
		<input type="datetime-local" class="form-control" id="due-date" name="due-date" placeholder="Enter due date" value={{form.due_date}}>
	</div>
    <div class="form-group">
		<label for="task-type">Task Type:</label>
        <select name="task-type" method="GET" action="/">
            {% for t in task_types %}
                <option value="{{t.type}}" {% if form.task_type != '' and t.type == form.task_type %}selected{% endif %}>{{t.type}}</option>"
            {% endfor %}
        </select>
	</div>     
	<button type="submit" class="btn btn-primary">Create Task</button>
</form>
<br>


<table>
	<tr>
		{% for head in task_headers.values() %}
			{% if head != 'Done At' and head != 'Update'%}<th>{{head}}</th>{% endif %}
		{% endfor %}
	</tr>

	{% for task in task_todo %}
		<tr>
			<td>
				<form action="{{ url_for('done_task', task_id = task.id) }}" method="post">
				<button class="btn btn-primary">Done</button>
				</form>
			</td>
			{% for key in task_headers.keys() %}
				{% if task_headers[key] != ' ' and key != 'done_time' and key != 'update' %}<td>{{task[key]}}</td>{% endif %}				
			{% endfor %}
			<td>
				<form action="{{ url_for('delete_task', task_id = task.id) }}" method="post">
				<button class="btn btn-primary">Delete</button>
				</form>
			</td>
	  	</tr>
	{% endfor %}
	
  </table>
  <br>

  <table>
	<tr>
		{% for key in task_headers.keys() %}
			{% if key != 'Mark'  %}<th>{{task_headers[key]}}</th>{% endif %}
		{% endfor %}
	</tr>

	{% for task in task_done %}
		<tr>
			{% for key in task_headers.keys() %}
				{% if task_headers[key] != ' ' and key != 'update' %}<td>{{task[key]}}</td>{% endif %}				
			{% endfor %}
			<td>
				<form action="{{ url_for('update_task', task_id = task.id) }}" method="post">
				<button class="btn btn-primary">Update</button>
				</form>
			</td>
			<td>
				<form action="{{ url_for('delete_task', task_id = task.id) }}" method="post">
				<button class="btn btn-primary">Delete</button>
				</form>
			</td>
	  	</tr>
	{% endfor %}
	
  </table>




<form action="{{ url_for('register') }}" method="get">
<button class="btn btn-primary">Register</button>
</form>

